h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
}

#qr {
    text-align: center;
}

#button {
    float: right;
    padding: 0.3rem;
}